<div class="form-group">
	<label class="col-md-3 control-label">Property Type</label>
	<div class="col-md-9">
      	<select class="form-control input-sm" name="propertyType" data-ng-model="goods.property.propertyType"
              data-ng-options="propertyType as propertyType.name for propertyType in propertyTypes ">
      		<option value='' selected>Select property type</option>
      	</select>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Bedrooms</label>
    <div class="col-md-3">
    	<select class="form-control input-sm" name="bedrooms" data-ng-model="goods.property.bedrooms">
              		<option ng-repeat="i in range(1,10)" value="{{i}}" ng-selected="i == 1">{{i}}</option>
        </select>
    </div>
    <label class="col-md-3 control-label">Bathrooms</label>
    <div class="col-md-3">
    	<select class="form-control input-sm" name="bathrooms" data-ng-model="goods.property.bathrooms">
              		<option ng-repeat="i in range(1,10)" value="{{i}}" ng-selected="i == 1">{{i}}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Size</label>
    <div class="col-md-3">
        <div class="input-group">
            <input id="appendedtext" name="size" class="form-control"
                   placeholder="placeholder" type="text" ng-model="goods.property.apartmentSize">
            <span class="input-group-addon">sq.ft.</span>
        </div>
    </div>
    <label class="col-md-3 control-label">Furnished</label>
    <div class="col-md-3">
      	<select class="form-control input-sm" name="propertyType" data-ng-model="goods.property.furnished"
              data-ng-options="furnished as furnished.name for furnished in furnished ">
      		<option value='' selected>Select Furnish</option>
      	</select>
    </div>
    </div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label">Facilities</label>
	<div class="col-md-9">
		<label class="col-md-3" class="checkbox-inline" ng-repeat="facility in facilities">
			<!--<input type="checkbox" value="facility" ng-model="goods.selectedFacilities[facility.id]" name="facility" ng-checked="checkItem(facility.id)"/>-->
      <input type="checkbox"
             ng-model="facility.checked"
             ng-click="getCheckedFacilities(facility)">
			{{facility.name}}
		</label>
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label">Others</label>
	<div class="col-md-9">
		<label class="col-md-3" class="checkbox-inline" ng-repeat="other in others">
			<!--<input type="checkbox" value="other" ng-model="goods.selectedOthers[other.id]" name="others"/>
			{{other.name}}-->
      <input type="checkbox" 
             ng-model="other.checked"
             ng-click="getCheckedOthers(other)"> {{other.name}}
		</label>
	</div>
</div>
