<div class="footer" id="footer">
    <div class="container">
        <ul class=" pull-left navbar-link footer-nav">
            <li><a ui-sref="home"> Home </a> <a ui-sref="aboutus"> About us </a> <a href="#"> Terms and
                Conditions </a> <a href="#"> Privacy Policy </a> <a ui-sref="contact"> Contact us </a> <a
                    href="#"> FAQ </a>
        </ul>
    </div>
</div>
<!-- /.footer -->