<div class="header">
    <nav class="navbar   navbar-site navbar-default" role="navigation">
        <div class="container" ng-controller="HeaderController">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a ui-sref="home" class="navbar-brand logo logo-title">
                    <!-- Original Logo will be placed here  -->
                    <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span>
                    RENTZ<span>APPLICATION </span> </a></div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
                  <li ui-sref-active="active">
                    <a ui-sref="authentication.signup">Sign Up</a>
                  </li>
                  <li class="divider-vertical"></li>
                  <li ui-sref-active="active">
                    <a ui-sref="authentication.signin">Sign In</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                  <li class="dropdown" dropdown>
                    <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                      <img ng-src="{{authentication.user.profileImageURL}}" 
                           alt="{{authentication.user.displayName}}" 
                           class="header-profile-image"
                           width="100%"
                           height="100%" />
                      <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li ui-sref-active="active">
                        <a ui-sref="settings.profile">Edit Profile</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ui-sref="settings.picture">Change Profile Picture</a>
                      </li>
                      <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                        <a ui-sref="settings.password">Change Password</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ui-sref="settings.accounts">Manage Social Accounts</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="/api/auth/signout" target="_self">Signout</a>
                      </li>
                    </ul>
                  </li>
                  <li class="postadd"><a class="btn btn-block btn-border btn-post btn-danger" ui-sref="goods-create">Post Ads</a>
                  </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- /.header -->