<div id="wrapper" ng-controller="HomeController" ng-init="find()">
    <div class="intro" style="background-image: url(lib/css/myRents/img/bg3.jpg);">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown">Find Rental Item</h1>

                    <p class="sub animateme fittext3 animated fadeIn"> Find local item in
                        Minutes </p>

                    <div class="row search-row animated fadeInUp">
                        <div class="col-lg-4 col-sm-4 search-col relative locationicon">
                            <i class="icon-location-2 icon-append"></i>
                            <input type="text" name="country" id="autocomplete-ajax"
                                   class="form-control locinput input-rel searchtag-input has-icon"
                                   placeholder="City/Zipcode..." value="">

                        </div>
                        <div class="col-lg-4 col-sm-4 search-col relative"><i class="icon-docs icon-append"></i>
                            <input type="text" name="ads" class="form-control has-icon"
                                   placeholder="I'm looking for a ..." value="">
                        </div>
                        <div class="col-lg-4 col-sm-4 search-col">
                            <button class="btn btn-primary btn-search btn-block"><i
                                    class="icon-search"></i><strong>Find</strong></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.intro -->

    <div class="main-container">
        <div class="container">

            <div class="col-lg-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-lg-12  box-title no-border">
                        <div class="inner"><h2><span>Browse by</span>
                            Category <a ui-sref="good-list" class="sell-your-item"> View more <i
                                    class="  icon-th-list"></i> </a></h2>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list">
                          <img src="./modules/core/client/img/category/car-2.jpg" class="img-responsive" alt="img">
                            <h6> Automobiles </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list">
                        <img src="./modules/core/client/img/category/laptop-2.jpg" class="img-responsive"
                        alt="img"> <h6> Laptops </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/mobile.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Mobiles </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/tv.jpg" 
                        class="img-responsive" alt="img"> <h6>
                            Electronics </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/hdd.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Computer Accessories </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/house.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Real Estate </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list">
                        <img src="./modules/core/client/img/category/Home-Electronics-Appliances-2.jpg"
                          class="img-responsive" alt="img"> <h6> Home Appliances </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/camera.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Cameras </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/fashion.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Fashion & Beauty </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/toy.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Kids & Baby Products </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/jobs.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Jobs </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a ui-sref="good-list"><img src="./modules/core/client/img/category/catalog.jpg" 
                        class="img-responsive" alt="img">
                            <h6> Home & Furniture </h6></a>
                    </div>

                </div>


            </div>

            <div style="clear: both"></div>
        </div>
    </div>
    <!-- /.main-container -->

    <div class="page-info hasOverly" style="background: url(images/bg.jpg); background-size:cover">
        <div class="bg-overly">
            <div class="container text-center section-promo">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-group"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>2200</span></h5>

                                    <div class="iconbox-wrap-text">Trusted Seller</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-th-large-1"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>100</span></h5>

                                    <div class="iconbox-wrap-text">Categories</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6  col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-map"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>700</span></h5>

                                    <div class="iconbox-wrap-text">Location</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon icon-facebook"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>50,000</span></h5>

                                    <div class="iconbox-wrap-text"> Facebook Fans</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.page-info -->

    <div class="page-bottom-info">
        <div class="page-bottom-info-inner">

            <div class="page-bottom-info-content text-center">
                <h1>If you have any questions, comments or concerns, please call the Classified Advertising department
                    at (000) 555-5555</h1>
                <a class="btn  btn-lg btn-primary-dark" href="tel:+000000000">
                    <i class="icon-mobile"></i> <span class="hide-xs color50">Call Now:</span> (000) 555-5555 </a>
            </div>

        </div>
    </div>

</div>
<!-- /.wrapper -->
