<div id="wrapper" ng-controller="GoodsListController" ng-init="find()">
   <div class="search-row-wrapper">
      <div class="container text-center">
         <div class="col-sm-3">
            <input class="form-control keyword" type="text" placeholder="e.g. Mobile Rent">
         </div>
         <div class="col-sm-3">
            <select class="form-control" id="search-category" name="name" data-ng-model="good.category"
               data-ng-options="category as category.categoryName for category in categories">
               <option value='' selected>All Categories</option>
            </select>
         </div>
         <div class="col-sm-3">
            <select class="form-control" id="id-location" name="location" data-ng-model="good.state"
               data-ng-options="state as state.stateName for state in states">
               <option value='' selected>All States</option>
            </select>
         </div>
         <div class="col-sm-3">
            <button class="btn btn-block btn-primary"><i class="fa fa-search"></i></button>
         </div>
      </div>
   </div>
   <div class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-sm-3 page-sidebar mobile-filter-sidebar">
                <aside>
                    <div class="inner-box">
                        <div class="categories-list list-filter">
                            <h5 class="list-title"><strong>All Categories</strong></h5>
                            <div ivh-treeview="categories"
                                 ng-model="selectedCategories"
                                 ivh-treeview-filter="categorySearch"
                                 ivh-treeview-id-attribute="'uuid'"
                                 ivh-treeview-label-attribute="'text'"
                                 ivh-treeview-children-attribute="children"
                                 ivh-treeview-selected-attribute="'isSelected'"
                                 ivh-treeview-on-cb-change="changeCallback(ivhNode)">
                        </div>
                        <div class="locations-list  list-filter">
                            <h5 class="list-title"><strong><a href="#">Price range</a></strong></h5>
                            <form role="form" class="form-inline ">
                                <div class="form-group col-sm-4 no-padding">
                                    <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                                </div>
                                <div class="form-group col-sm-1 no-padding text-center hidden-xs"> -</div>
                                <div class="form-group col-sm-4 no-padding">
                                    <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                                </div>
                                <div class="form-group col-sm-3 no-padding">
                                    <button class="btn btn-default pull-right btn-block-xs" type="submit">GO
                                    </button>
                                </div>
                            </form>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-sm-9 page-content col-thin-left">

                    <div class="category-list">
                        <div class="tab-box ">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs add-tabs" role="tablist">
                                <li class="active"><a href="#allAds" role="tab" data-toggle="tab">All Ads </a></li>
                            </ul>
                            <div class="tab-filter">
                                <select class="selectpicker" data-style="btn-select" data-width="auto">
                                    <option>Short by</option>
                                    <option>Price: Low to High</option>
                                    <option>Price: High to Low</option>
                                </select>
                            </div>
                        </div>
                        <!--/.listing-filter-->

                        <!-- Mobile Filter bar-->
                        <div class="mobile-filter-bar col-lg-12  ">
                            <ul class="list-unstyled list-inline no-margin no-padding">
                                <li class="filter-toggle">
                                    <a class="">
                                        <i class="  icon-th-list"></i>
                                        Filters
                                    </a>
                                </li>
                                <li>


                                    <div class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle"><i class="caret "></i> Short
                                            by </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="" rel="nofollow">Relevance</a></li>
                                            <li><a href="" rel="nofollow">Date</a></li>
                                            <li><a href="" rel="nofollow">Company</a></li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="menu-overly-mask"></div>
                        <!-- Mobile Filter bar End-->


                        <div class="adds-wrapper">
                            <div class="item-list" ng-repeat="goods in goodsUserPaginated">
                                <div class="col-sm-2 no-padding photobox">
                                    <div class="add-image"><span class="photo-count"><i
                                            class="fa fa-camera"></i> {{goods.goodsImageUrl.length}} </span> <a href="ads-details.html"><img
                                            class="thumbnail no-margin" src="{{goods.goodsImageUrl[0].name}}"
                                            alt="img"></a></div>
                                </div>
                                <!--/.photobox-->
                                <div class="col-sm-7 add-desc-box">
                                    <div class="add-details">
                                        <h5 class="add-title"><a href="ads-details.html">
                                            {{goods.itemName}} </a></h5>
                                        <span class="info-row">
                                            <span class="category">Facility : </span><br/>
                                            <ul class="category list list-circle">
                                                <li ng-repeat="facility in goods.specification.facility">{{facility.name}}</li>
                                            </ul>
                                            <br/>
                                            <span class="category">Others : </span><br/>
                                            <ul class="category list list-circle">
                                                <li ng-repeat="other in goods.specification.others">
                                                    {{other.name}}
                                                </li>
                                            </ul>
                                            <br/>
                                        </span>
                                    </div>
                                </div>
                                <!--/.add-desc-box-->
                                <div class="col-sm-3 text-right  price-box">
                                    <h2 class="item-price"> RM 250 </h2>
                                    <a class="btn btn-danger  btn-sm make-favorite"> <i
                                            class="fa fa-certificate"></i> <span>Featured Ads</span> </a> <a
                                        class="btn btn-default  btn-sm make-favorite"> <i
                                        class="fa fa-heart"></i> <span>Save</span> </a></div>
                                <!--/.add-desc-box-->
                            </div>
                        </div>
                        <!--/.adds-wrapper-->

                        <div class="tab-box  save-search-bar text-center"><a href=""> <i class=" icon-star-empty"></i>
                            Save Search </a></div>
                    </div>
                    <div class="pagination-bar text-center">
                        <ul class="pagination">
                            <li ng-repeat="n in numberInRange"><a href="#">{{n}}</a></li>
                        </ul>
                    </div>
                    <!--/.pagination-bar -->

                    <div class="post-promo text-center">
                        <h2> Do you get anything for sell ? </h2>
                        <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
                        <a href="post-ads.html" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a>
                    </div>
                    <!--/.post-promo-->

                </div>
                <!--/.page-content-->
         </div>
      </div>
   </div>
</div>

