<form id="photo-data" method="post" action="/api/upload/photoData" enctype="multipart/form-data">
    <div class="form-group">
        <div class="modal-body">
            <label for="image" class="control-label">Photo upload</label>
            <input type="file" class="form-control" name="photo" id="photo-main">
            <label for="caption" class="control-label">Title:</label>
            <input type="text" class="form-control" name="title" id="photo-title">
            <label for="long-text" class="control-label">Further description:</label>
            <input type="text" class="form-control" name="description" id="message-text">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="submit-photo" type="submit" class="btn btn-primary">Upload</button>                   
        </div>
  </div>
</form>