<section ng-controller="GoodsUserProfileController" ng-init="init()">
	<div class="container">
		<div class="section-content">
			<div class="inner-box">
				<div class="row">
					<div class="col-sm-6">
						<div class="seller-info seller-profile">
							<div class="seller-profile-img">
								<a><img src="{{imageURL}}" class="img-responsive thumbnail" alt="img"> </a>
							</div>
                            <h3 class="no-margin no-padding link-color uppercase ">{{name}}</h3>
                            <div class="text-muted">
                                99.8% positive Feedback
                            </div>
                            <div class="user-ads-action">
                                <a class="btn btn-sm   btn-default " data-toggle="modal"
                                   href="#contactAdvertiser"><i class=" icon-mail-2"></i> Send a message </a>
                                <a class="btn btn-sm  btn-success "><i class=" icon-plus"></i> Follow </a>
                            </div>
                            <div class="seller-social-list">
                                <ul class="share-this-post">
                                    <li><a class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a class="facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a class="pinterest"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
					<div class="col-sm-6">
                        <div class="seller-contact-info">
                            <h3 class="no-margin uppercase color-danger"> Contact Information </h3>
                            <dl class="dl-horizontal">
                                <dt>Address:</dt>
                                <dd class="contact-sensitive"> {{address}} <br>
                                    {{address}}
                                </dd>
                                <dt>Telephone:</dt>
                                <dd class="contact-sensitive">{{phoneNumber}}</dd>
                                <dt>Mobile Phone:</dt>
                                <dd class="contact-sensitive">{{phoneNumber}}</dd>
                                <dt>Fax:</dt>
                                <dd class="contact-sensitive">{{phoneNumber}}</dd>
                            </dl>
                        </div>
                    </div>
				</div>
			</div>
			<div class="section-block">
    			<div class="row">
    				<div class="col-sm-9 col-thin-left page-content">
    					<div class="category-list">
    						<div class="tab-box">

    							<!-- Nav tabs -->
                                <ul class="nav nav-tabs add-tabs" role="tablist">
                                    <li class="active"><a href="#allAds" role="tab" data-toggle="tab"> User all ads
                                        <span class="badge">20</span></a></li>
                                </ul>
                                <div class="tab-filter">
                                    <select class="selectpicker" data-style="btn-select" data-width="auto">
                                        <option>Short by</option>
                                        <option>Price: Low to High</option>
                                        <option>Price: High to Low</option>
                                    </select>
                                </div>

                                <!--/.listing-filter-->
                                <div class="listing-filter">
                                    <div class="pull-left col-xs-6">
                                        <div class="breadcrumb-list"><a href="#" class="current">
                                            <span>All ads</span></a> in New York <a href="#selectRegion"
                                                                                    id="dropdownMenu1"
                                                                                    data-toggle="modal"> <span
                                                class="caret"></span> </a></div>
                                    </div>
                                    <div class="pull-right col-xs-6 text-right listing-view-action"><span
                                            class="list-view active"><i class="  icon-th"></i></span> <span
                                            class="compact-view"><i class=" icon-th-list  "></i></span> <span
                                            class="grid-view "><i class=" icon-th-large "></i></span></div>
                                    <div style="clear:both"></div>
                                </div>
                                
                                <div class="adds-wrapper">
                                    <div class="item-list" ng-repeat="goods in goodsUserPaginated">
                                        <div class="cornerRibbons featuredAds">
                                            <a href="#"> Featured Ads</a>
                                        </div>

                                        <div class="col-sm-2 no-padding photobox">
                                            <div class="add-image"><span class="photo-count"><i
                                                    class="fa fa-camera"></i> {{goods.goodsImageUrl.length}} </span> <a href="ads-details.html"><img
                                                    class="thumbnail no-margin" src="{{goods.goodsImageUrl[0].name}}"
                                                    alt="img"></a></div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="col-sm-7 add-desc-box">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html">
                                                    {{goods.itemName}} </a></h5>
                                                <span class="info-row">
                                                    <span class="category">Facility : </span><br/>
                                                    <ul class="category list list-circle">
                                                        <li ng-repeat="facility in goods.specification.facility">{{facility.name}}</li>
                                                    </ul>
                                                    <br/>
                                                    <span class="category">Others : </span><br/>
                                                    <ul class="category list list-circle">
                                                        <li ng-repeat="other in goods.specification.others">
                                                            {{other.name}}
                                                        </li>
                                                    </ul>
                                                    <br/>
                                                </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 250 </h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i
                                                    class="fa fa-certificate"></i> <span>Featured Ads</span> </a> <a
                                                class="btn btn-default  btn-sm make-favorite"> <i
                                                class="fa fa-heart"></i> <span>Save</span> </a></div>
                                        <!--/.add-desc-box-->
                                    </div>
                                </div>
                                <!--/.adds-wrapper-->
    						</div>
                            <div class="pagination-bar text-center">
                                <ul class="pagination">
                                    <li ng-repeat="n in numberInRange"><a href="#">{{n}}</a></li>
                                    <!--<li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"> ...</a></li>
                                    <li><a class="pagination-btn" href="#">Next &raquo;</a></li>-->
                                </ul>
                            </div>

                            <div class="post-promo text-center">
                                <h2> Do you get anything to rent ? </h2>
                                <h5>Rent your products online FOR FREE. It's easier than you think !</h5>
                                <a ui-sref="goods-create" class="btn btn-lg btn-border btn-post btn-danger">Post a Free
                                    Ad </a>
                            </div>
    					</div>
    				</div>
    			</div>
    		</div>
		</div>
	</div>
</section>