<section ng-controller="GoodsCreateController" ng-init="init()">
	<div class="container">
		<div class="row">
			<div class="col-md-12 page-content">
				<div class="inner-box category-content">
					<h2 class="title-2 uppercase"><strong><i class="icon-docs"></i> Post a Free Classified Ad</strong></h2>
					<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
							<fieldset>
                                <!--Item Name-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="Adtitle">Item Name</label>
                                    <div class="col-md-9">
                                        <input id="Adtitle" name="Adtitle" placeholder="Item Name"
                                               class="form-control input-md" required="" type="text" ng-model="goods.itemName">
                                        <span class="help-block">A great title needs at least 60 characters. </span>
                                    </div>
                                </div>
                                <!--Category-->
								<div class="form-group">
									<label class="col-md-3 control-label">Category</label>
									<div class="col-md-9"
                                        angular-multi-select
                                        input-model="categories"
                                        output-model="goods.selectedCategories"
                                        ng-click="checkSpecification()"
                                        dropdown-label="<[
                                            <# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'No available items' :
                                                <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'No checked items' :
                                                    <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' checked ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'item': 'items')
                                        ]>"
                                        node-label="<[ text ]> (checked
                                            <# angularMultiSelectConstants.INTERNAL_KEY_CHECKED_CHILDREN #> /
                                            <# angularMultiSelectConstants.INTERNAL_KEY_CHILDREN_LEAFS #>)"
                                        leaf-label="<[ text ]> (<[ value ]>)"

                                        search-field="text">
                                    </div>
								</div>
                                <!--Images-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Images</label>
                                    <div class="col-md-9">
                                        <section class="container">
                                            <section class="droplet">
                                                <section class="toolbar">
                                                    <div class="add-files">
                                                        <input type="button" class="button add-files" value="Add Files..." />
                                                        <droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
                                                    </div>
                                                </section>
                                                <droplet ng-model="interface">
                                                    <comment></comment>
                                                    <ul class="files">
                                                        <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                                            <droplet-preview ng-model="model"></droplet-preview>
                                                            <div class="delete" ng-click="model.deleteFile()">&times;</div>
                                                            <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                                                        </li>
                                                    </ul>
                                                </droplet>
                                            </section>
                                        </section>
                                    </div>
                                </div>
                                <h2 class="title-2 uppercase" ng-show="specsTitle"><strong><i></i>Specification</strong></h2>
                                <div class="inner-box-specification" 
                                     ng-show="selectedSpec.apartment"
                                     ng-include="'modules/goods/client/views/specificationViews/apartements.specs.client.view.html'">        
                                </div>
                                <!--Period of Rental-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Period of Rental</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="goods.totalPeriod" 
                                            aria-label="Text input with dropdown button">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" 
                                                        aria-haspopup="true" aria-expanded="false">
                                                {{rentalPeriod.name}}
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li ng-repeat="rentalPeriod in rentalPeriods" ng-model="rentalPeriod">
                                                        <a ng-click="changePeriod(rentalPeriod)">{{rentalPeriod.name}}</a>
                                                    </li>
                                                </ul>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <!--Rental Deposit-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Rental Deposit</label>
                                    <div class="col-md-4">
                                        <div class="input-group"><span class="input-group-addon">RM</span>
                                            <input id="prependedtext" name="prependedtext" class="form-control"
                                                    placeholder="deposit" type="text" ng-model="goods.deposit">
                                        </div>
                                    </div>
                                </div>
                                <!--Other Info-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="textarea">Other Info</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="textarea" ng-model="goods.otherInfo" name="textarea" placeholder="Other Info"></textarea>
                                    </div>
                                </div>
                                <!--Sub Category-->
								<!--<div class="form-group">
									<label class="col-md-3 control-label">Sub Category</label>
									<div class="col-md-8">
										<select class="form-control input-sm" name="name" data-ng-model="good.subcategory"
                                        	data-ng-options="subcategory as subcategory.subCategoryName for subcategory in subcategories | filter:{categoryId : good.category.categoryId}">
                                    	<option value='' selected>All Sub Categories</option>
                                		</select>
									</div>
								</div>-->
								<!-- Multiple Radios (inline) -->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label">Ad Type</label>
                                    <div class="col-md-8">
                                        <label class="radio-inline" for="radios-0">
                                            <input name="radios" id="radios-0" value="Private"  ng-model="good.type" type="radio">
                                            Private </label>
                                        <label class="radio-inline" for="radios-1">
                                            <input name="radios" id="radios-1" value="Business" ng-model="good.type" type="radio">
                                            Business </label>
                                    </div>
                                </div>-->
                                <!-- Text input-->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label" for="Adtitle">Ad title</label>
                                    <div class="col-md-8">
                                        <input id="Adtitle" name="Adtitle" placeholder="Ad title"
                                               class="form-control input-md" required="" type="text" ng-model="good.title">
                                        <span class="help-block">A great title needs at least 60 characters. </span>
                                    </div>
                                </div>-->
                                <!-- Textarea -->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label" for="textarea">Describe ad </label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="textarea" name="textarea" ng-model="good.description">Describe
                                            what makes your ad unique</textarea>
                                    </div>
                                </div>-->
                                <!-- Prepended text-->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label" for="Price">Price</label>
                                    <div class="col-md-4">
                                        <div class="input-group"><span class="input-group-addon">$</span>
                                            <input id="Price" name="Price" class="form-control"
                                                   placeholder="placeholder" required="" type="text" ng-model="good.price">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="good.negotiable">
                                                Negotiable </label>
                                        </div>
                                    </div>
                                </div>-->

                                <!--State-->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label">State</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" name="name" data-ng-model="good.state"
                                            data-ng-options="state as state.stateName for state in states">
                                        <option value='' selected> State ... </option>
                                        </select>
                                    </div>
                                </div>-->
                                <!--District-->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label">District</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" name="name" data-ng-model="good.district"
                                            data-ng-options="district as district.districtName for district in districts | filter:{stateId : good.state.stateId}">
                                        <option value='' selected> District ...</option>
                                        </select>
                                    </div>
                                </div>-->

                                <!-- photo -->
                                        <!--<div class="form-group">
                                            <label class="col-md-3 control-label" for="textarea"> Picture </label>

                                            <div class="col-md-8">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="text-center">
                                                              <img ng-src="{{imageURL}}" class="img-thumbnail user-profile-picture">
                                                            </div><br/>
                                                            <div class="text-center " ng-hide="uploader.queue.length">
                                                              <span class="btn btn-default btn-file">
                                                                  Select Image <input type="file" ng-model="picFile" nv-file-select uploader="uploader">
                                                              </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <div class="well">
                                            <h3><i class=" icon-certificate icon-color-1"></i> Make your Ad Premium
                                            </h3>

                                            <p>Premium ads help sellers promote their product or service by getting
                                                their ads more visibility with more
                                                buyers and sell what they want faster. <a href="help.html">Learn
                                                    more</a></p>

                                            <div class="form-group">
                                                <table class="table table-hover checkboxtable">
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios0" value="option0" checked>
                                                                    <strong>Regular List </strong> </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$00.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios1" value="option1">
                                                                    <strong>Urgent Ad </strong> </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$10.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios2" value="option2">
                                                                    <strong>Top of the Page Ad </strong> </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$20.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios3" value="option3">
                                                                    <strong>Top of the Page Ad + Urgent Ad </strong>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$40.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="col-md-8">
                                                                    <select class="form-control" name="Method"
                                                                            id="PaymentMethod">
                                                                        <option value="2">Select Payment Method</option>
                                                                        <option value="3">Credit / Debit Card</option>
                                                                        <option value="5">Paypal</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><p><strong>Payable Amount : $40.00</strong></p></td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>-->

                                        <!-- terms -->
                                        <!--<div class="form-group">
                                            <label class="col-md-3 control-label">Terms</label>

                                            <div class="col-md-8">
                                                <label class="checkbox-inline" for="checkboxes-0">
                                                    <input name="checkboxes" id="checkboxes-0"
                                                           value="Remember above contact information." type="checkbox">
                                                    Remember above contact information. </label>
                                            </div>
                                        </div>-->

                                        <!-- Button  -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>

                                            <div class="col-md-8"><a id="button1id"
                                                                     class="btn btn-success btn-lg"
                                                                     ng-click="createGoods()">Submit</a></div>
                                        </div>
							</fieldset>
						</form>
					</div>
				</div>
				</div>
			</div>

			<!--<div class="col-md-3 reg-sidebar">
                <div class="reg-sidebar-inner text-center">
                    <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>
                        <h3><strong>Post a Free Classified</strong></h3>
                        <p> Post your free online classified ads with us. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. </p>
                    </div>
                    <div class="panel sidebar-panel">
                        <div class="panel-heading uppercase">
                            <small><strong>How to sell quickly?</strong></small>
                        </div>
                        <div class="panel-content">
                            <div class="panel-body text-left">
                                <ul class="list-check">
                                    <li> Use a brief title and description of the item</li>
                                    <li> Make sure you post in the correct category</li>
                                    <li> Add nice photos to your ad</li>
                                    <li> Put a reasonable price</li>
                                    <li> Check the item before publish</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                <!--/.reg-sidebar-->
		</div>
	</div>
</section>
