<section class="row" ng-controller="EditProfileController">
  <div class="row">
    <div class="col-md-12 page-content">
      <div class="inner-box category-content">
      <h2 class="title-2"><i class="icon-user-add"></i> Edit your profile</h2>
        <div class="row">
          <div class="col-sm-12">
            <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="form-horizontal">
                <div class="form-group required" show-errors>
                  <label class="col-md-4 control-label">You are a <sup>*</sup></label>
                  <div class="col-md-6">
                    <div class="radio">
                       <label>
                               <input type="radio" name="optionsRadios" id="optionsRadios1"
                                      value="business" ng-model="user.businessOwner" checked="checked">
                               Business </label>
                       </div>
                       <div class="radio">
                           <label>
                               <input type="radio" name="optionsRadios" id="optionsRadios2"
                                      value="individual" ng-model="user.businessOwner">
                               Individual </label>
                       </div>
                  </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">First Name <sup>*</sup></label>
                    <div class="col-md-6">
                        <input name="firstName" id="firstName" class="form-control input-md"
                               type="text" data-ng-model="user.firstName" placeholder="First Name" required>
                        <div ng-messages="userForm.firstName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">First name is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Last Name <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="lastName" name="lastName" placeholder="Last Name"
                               class="form-control input-md" type="text" data-ng-model="user.lastName" required>
                        <div ng-messages="userForm.lastName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Last name is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Username <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="username" name="username" placeholder="Username"
                               class="form-control input-md" type="text" data-ng-model="user.username" lowercase required>
                        <div ng-messages="userForm.username.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Username is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Email <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="email" name="email" placeholder="Email"
                               class="form-control input-md" type="email" data-ng-model="user.email" lowercase required>
                        <div ng-messages="userForm.email.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Email address is required.</p>
                          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Phone Number <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                               class="form-control input-md" type="phoneNumber" data-ng-model="user.phoneNumber" required>
                        <div ng-messages="userForm.phoneNumber.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Phone Number is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Gender <sup>*</sup></label>
                    <div class="col-md-6">
                        <div class="radio">
                             <label>
                                     <input type="radio" name="gender" id="optionsRadios1"
                                            value="1" ng-model="user.gender" checked>
                                     Male </label>
                             </div>
                             <div class="radio">
                                 <label>
                                     <input type="radio" name="gender" id="optionsRadios2"
                                            value="2" ng-model="user.gender">
                                     Female </label>
                             </div>
                        </div>
                </div>
                <div class="form-group" >
                    <label class="col-md-4 control-label" for="textarea">Address</label>
                    <div class="col-md-6">
                            <textarea class="form-control" id="textarea" name="textarea" ng-model="user.address">About
                                Yourself</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Save Profile</button>
                        <div ng-show="success">
                          <strong>Profile Saved Successfully</strong>
                        </div>
                        <div ng-show="error">
                          <strong ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
