<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Or with your account</h3>
  <div class="row">
    <div class="col-sm-5 login-box">
        <div class="panel panel-default">
            <div class="panel-intro text-center">
                <h2 class="logo-title">
                    <!-- Original Logo will be placed here  -->
                        <span class="logo-icon"><i
                            class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> RENTZ<span>LOGIN </span>
                </h2>
            </div>
            <div class="panel-body">
                <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
                    <div class="form-group" show-errors>
                        <label for="username" class="control-label">Username:</label>
                        <div class="input-icon"><i class="icon-user fa"></i>
                            <input id="username" name="username" type="text" ng-model="credentials.username"
                                   class="form-control email" placeholder="Username" lowercase required>
                            <div ng-messages="userForm.username.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">Username is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="password" class="control-label">Password:</label>
                        <div class="input-icon"><i class="icon-lock fa"></i>
                            <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password"
                                   id="user-pass" name="password" required="">
                            <div ng-messages="userForm.password.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">Password is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Submit</a>
                    </div>

                    <alert type="danger" ng-show="error" class="text-center text-danger">
                      <span ng-bind="error"></span>
                    </alert>
                </form>
            </div>
            <div class="panel-footer">
                <p class="text-center pull-right"><a ui-sref="password.forgot"> Lost your password? </a>
                </p>
                <div style=" clear:both"></div>
            </div>
        </div>
        <div class="login-box-btm text-center">
            <p> Don't have an account? <br>
                <a ui-sref="authentication.signup"><strong>Sign Up !</strong> </a></p>
        </div>
    </div>
  </div>
</div>
