<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Or sign up using your Email</h3>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-8">
      <div class="inner-box category-content">
        <h2 class="title-2"><i class="icon-user-add"></i>Create Your Account, Its Free</h2>
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal" name="userForm" ng-submit="signup(userForm.$valid)" novalidate autocomplete="off">
              <fieldset>
                <!--<div class="form-group required" show-errors>
                  <label class="col-md-4 control-label">You are a <sup>*</sup></label>
                  <div class="col-md-6">
                    <div class="radio">
                       <label>
                               <input type="radio" name="optionsRadios" id="optionsRadios1"
                                      value="professional" ng-model="credentials.businessOwner" checked>
                               Professional </label>
                       </div>
                       <div class="radio">
                           <label>
                               <input type="radio" name="optionsRadios" id="optionsRadios2"
                                      value="individual" ng-model="credentials.businessOwner">
                               Individual </label>
                       </div>
                  </div>
                </div>-->
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">First Name <sup>*</sup></label>
                    <div class="col-md-6">
                        <input name="firstName" id="firstName" class="form-control input-md"
                               type="text" data-ng-model="credentials.firstName" placeholder="First Name" required>
                        <div ng-messages="userForm.firstName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">First name is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Last Name <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="lastName" name="lastName" placeholder="Last Name"
                               class="form-control input-md" type="text" data-ng-model="credentials.lastName" required>
                        <div ng-messages="userForm.lastName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Last name is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Email <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="email" name="email" placeholder="Email"
                               class="form-control input-md" type="email" data-ng-model="credentials.email" lowercase required>
                        <div ng-messages="userForm.email.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Email address is required.</p>
                          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Username <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="username" name="username" placeholder="Username"
                               class="form-control input-md" type="text" data-ng-model="credentials.username" lowercase required>
                        <div ng-messages="userForm.username.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Username is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required" show-errors>
                    <label class="col-md-4 control-label">Password <sup>*</sup></label>
                    <div class="col-md-6">
                        <input id="password" name="password" placeholder="Password"
                               class="form-control input-md" type="password" data-ng-model="credentials.password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                        <div ng-messages="userForm.password.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Password is required.</p>
                          <div ng-repeat="passwordError in passwordErrors">
                            <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="!userForm.password.$error.required">
                  <label class="col-md-4 control-label">Password Requirements</label>
                  <div class="col-md-6">
                    <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                      &nbsp; or&nbsp;
                      <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
                    </div>
                </div>
                <div ng-show="error" class="text-center text-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col-md-4 reg-sidebar">
        <div class="reg-sidebar-inner text-center">
            <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>
                <h3><strong>Post a Free Classified</strong></h3>
                <p> Gratis upload yang nak rent. awak hanya perlu login untuk menjadi user di aplikasi kita </p>
            </div>
            <div class="promo-text-box"><i class=" icon-pencil-circled fa fa-4x icon-color-2"></i>
                <h3><strong>Create and Manage Items</strong></h3>
                <p> Awak boleh tambah upload mana mana je, tak payah risau, awak boleh manage, edit, untuk semua yang sudah awak upload</p>
            </div>
            <div class="promo-text-box"><i class="  icon-heart-2 fa fa-4x icon-color-3"></i>
                <h3><strong>Create your Favorite ads list.</strong></h3>
                <p> Awak boleh buat item-item favorit kesukaan awak, awak boleh like, share, and comment. feel free, awak pun boleh bagi rating</p>
            </div>
        </div>
    </div>-->
  </div>
</div>
